In [12]:
#Analyzing WorkPlaceSatisfactionSurveyData for our project

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [13]:
# Open the data
df = pd.read_excel('WorkPlaceSatisfactionSurveyData.xlsx')

## See if there's any missing values

In [14]:
df.isnull().sum()

number                     0
gender                     0
age                        0
family                     0
education                  1
years_of_service           2
salary                     0
sat_management             0
sat_colleques              1
sat_workingEnvironment     0
sat_salary                 0
sat_tasks                  0
healtcare                 35
holidayCabin              62
gym                       73
muscleCare                60
dtype: int64

## Investigating a couple categorical/qualitative variables and generating frequency tables for them (Family, Education)

In [15]:
df_family=pd.crosstab(df['family'], 'Count')

In [16]:
df_family.index=['Single', 'Not single']
df_family.columns.name=''
df_family

            Count
Single         31
Not single     51

In [17]:
df_education=pd.crosstab(df['education'], 'Count')

In [18]:
df_education.index=['Primary School', 'Secondary School', 'Bachelor Level', 'Master Level']
df_education.columns.name=''
df_education

                  Count
Primary School       27
Secondary School     30
Bachelor Level       22
Master Level          2