In [94]:
#Analyzing WorkPlaceSatisfactionSurveyData for our project

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [95]:
# Open the data
df = pd.read_excel('WorkPlaceSatisfactionSurveyData.xlsx')

## See if there's any missing values

In [96]:
df.isnull().sum()

number                     0
gender                     0
age                        0
family                     0
education                  1
years_of_service           2
salary                     0
sat_management             0
sat_colleques              1
sat_workingEnvironment     0
sat_salary                 0
sat_tasks                  0
healtcare                 35
holidayCabin              62
gym                       73
muscleCare                60
dtype: int64

## Investigating a couple categorical/qualitative variables and generating frequency tables for them (Family, Education)

In [97]:
df_family=pd.crosstab(df['family'], 'Count')
df_family.index=['Single', 'Not single']
df_family['%'] = df_family['Count'] / df_family['Count'].sum() * 100
df_family.columns.name=''
df_family.loc['Total'] = df_family[['Count', '%']].sum()
df_family['Count'] = df_family['Count'].astype(int)
df_family.round(decimals=1)

            Count      %
Single         31   37.8
Not single     51   62.2
Total          82  100.0

In [98]:
df_education=pd.crosstab(df['education'], 'Count')
df_education.index=['Primary School', 'Secondary School', 'Bachelor Level', 'Master Level']
df_education['%'] = df_education['Count'] / df_education['Count'].sum() * 100
df_education.columns.name=''
df_education.loc['Total'] = df_education[['Count', '%']].sum()
df_education['Count'] = df_education['Count'].astype(int)
df_education.round(decimals=1)

                  Count      %
Primary School       27   33.3
Secondary School     30   37.0
Bachelor Level       22   27.2
Master Level          2    2.5
Total                81  100.0

## Drawing graphs based on the frequency tables