In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_excel('WorkPlaceSatisfactionSurveyData.xlsx')

In [3]:
df

,number,gender,age,family,education,years_of_service,salary,sat_management,sat_colleques,sat_workingEnvironment,sat_salary,sat_tasks,healtcare,holidayCabin,gym,muscleCare
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN
3,4,1,36,2,1.0,14.0,2144,3,3.0,3,3,3,1.0,NaN,NaN,NaN
4,5,1,24,1,2.0,4.0,2183,2,3.0,2,1,2,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,1,22,1,3.0,0.0,1598,4,4.0,4,3,4,NaN,1.0,1.0,NaN
78,79,1,33,1,1.0,2.0,1638,1,3.0,2,1,2,1.0,NaN,NaN,NaN
79,80,1,27,1,2.0,7.0,2612,3,4.0,3,3,3,1.0,NaN,1.0,NaN
80,81,1,35,2,2.0,16.0,2808,3,4.0,3,3,3,NaN,NaN,NaN,NaN
81,82,2,35,2,3.0,15.0,2183,3,4.0,4,3,4,1.0,NaN,NaN,NaN

In [4]:
df_years_of_service=pd.crosstab(df['years_of_service'], 'Count')

In [5]:
df_years_of_service

col_0             Count
years_of_service
0.0                   4
1.0                   9
2.0                   4
3.0                   3
4.0                   1
5.0                   1
6.0                   2
7.0                   7
8.0                   1
9.0                   1
10.0                  5
12.0                  2
13.0                  1
14.0                  3
15.0                  5
16.0                  4
17.0                  5
18.0                  2
19.0                  1
20.0                  3
21.0                  3
22.0                  4
23.0                  4
24.0                  1
27.0                  1
28.0                  1
35.0                  1
36.0                  1

In [1]:
bins_yearsOfService = [0, 10, 20, 30, 40,]